params {
  input = null
  output = null
  max_retries = 5
  save_embedding = false
}

process {
  container = 'ghcr.io/juyeongkim/immunebuilder:latest'
  errorStrategy = 'ignore'
}

profiles {
  standard {
    process {
      executor = 'local'
      cpus = 1
    }
    docker {
      enabled = true
    }
  }
  cluster {
    process {
      executor = 'slurm'
      queue = 'short'
      cpus = 2
      memory = '13 GB'
    }
    apptainer {
      enabled = true
      autoMounts = true
    }
  }
}

trace {
  enabled = true
  file = "${params.output}/trace.txt"
  fields =  "task_id,hash,native_id,process,tag,name,status,exit,cpus,disk,memory,duration,realtime,%cpu,%mem,rss,vmem,rchar,read_bytes,wchar,write_bytes,env,workdir,error_action,hostname"
  overwrite = true
  raw = true
}
